@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.35em;
  line-height: 1.5em;
  font-weight: 600;
  color: black;
}

p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.8em;
  color: #5d6370;
}

.content {
  padding: 0;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1em;
  }
}

body {
 font-family: "Ga Maamli", sans-serif;
}

h1, h2, h3 {
  font-family: "Ga Maamli", sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2.4em;
  font-weight: 800;
}

h3 {
  font-size: 1.8em;
  font-weight: 700;
}

p {
  font-size: 1.05em;
  line-height: 1.6em;
}

.about-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 40px 0px 80px;
  max-width: 1000px;
  margin: auto;
}

.about-group:first-child {
  padding-top: 80px;
  padding-bottom: 0px;
}

.about-text {
  width: 60%;
}

.about-text:nth-child(1) {
  margin-right: 30px;
}

.about-text:nth-child(2) {
  margin-left: 30px;
}

.about-title {
  text-align: left;
  font-family: "Ga Maamli", sans-serif;
  padding: 0px 0px 10px;
}

.about-para {
  text-align: left;
}

.about-para p {
  font-size: 1em;
  line-height: 1.9em;
}

.final-title {
  max-width: 400px;
  margin: auto;
  padding: 40px 0px 20px;
  text-align: center;
}

.final-para {
  max-width: 725px;
  padding: 0px 0px 60px;
  margin: auto;
}

.final-para a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
}

.fiddy-para {
  text-align: center;
  width: 100%;
}

.about-img-section {
  height: 280px;
  width: 40%;
}

.about-img {
  height: 100%;
  margin: 0px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1050px) {
  .about-para, .about-title, .about-img-section {
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 800px) {
  .about-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-group:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-text {
    width: auto;
  }
  .about-text:nth-child(1) {
    margin-right: 0px;
  }
  .about-text:nth-child(2) {
    margin-left: 0px;
  }
  .about-title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 0.85em;
  }
  .about-img-section {
    width: 250px;
    height: 225px;
    margin: 0px auto 40px;
  }
}

@media only screen and (max-width: 600px) {
  .about-final-title {
    width: 350px;
    margin: auto;
    font-size: 2.4em;
  }
  .final-title {
    padding-top: 40px;
  }
  .final-para {
    padding-bottom: 40px;
  }
  .about-front-title {
    padding-top: 80px;
    font-size: 0.6em;
  }
  .about-para {
    text-align: left;
  }
  .about-title {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 400px) {
  .about-final-title {
    width: 250px;
    font-size: 1.8em;
  }
}

@-webkit-keyframes aboutBackground {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes aboutBackground {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

.about-front {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: center no-repeat;
  background-image: url(../images/about.jpg);
  background-attachment: fixed;
  background-size: cover;
  -webkit-animation: aboutBackground 2.5s;
          animation: aboutBackground 2.5s;
  overflow: hidden;
}

.about-front-title {
  width: 100%;
}

.about-front-title h1 {
  font-size: 5em;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .about-front {
    background-image: url(../images/about_small.jpeg);
    background-attachment: scroll;
  }
}

.newsletter-section {
  max-width: 600px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px 30px;
  margin: 40px auto 100px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  background: #232630;
  -webkit-box-shadow: 0px 16px 32px 0px #d5d2e6aa;
          box-shadow: 0px 16px 32px 0px #d5d2e6aa;
}

.newsletter-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.newsletter-text {
  text-align: left;
  width: 60%;
  margin-right: 20px;
}

.newsletter-text h3 {
  color: #e0e0e0;
  font-weight: 600;
  font-size: 1.4em;
}

.newsletter-sign form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter-sign input, .newsletter-sign button {
  padding: 10px 16px;
  font-family: "Ga Maamli", sans-serif;
  border-radius: 6px;
  border: none;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.newsletter-sign input {
  margin-right: 6px;
  background: #4f535c;
  color: white;
}

.newsletter-sign input::-webkit-input-placeholder {
  color: #aaa;
}

.newsletter-sign input:-ms-input-placeholder {
  color: #aaa;
}

.newsletter-sign input::-ms-input-placeholder {
  color: #aaa;
}

.newsletter-sign input::placeholder {
  color: #aaa;
}

.newsletter-sign input:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #ffffff62;
          box-shadow: 0px 0px 0px 2px #ffffff62;
  border-color: transparent;
}

.newsletter-sign button {
  background: #ffcb6b;
  color: black;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.newsletter-sign button:hover {
  background: #ffb731;
}

.newsletter-sign button:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #ffb73144;
          box-shadow: 0px 0px 0px 2px #ffb73144;
  border-color: transparent;
}

@media only screen and (max-width: 1140px) {
  .newsletter-section {
    width: 80%;
    margin: 40px auto 100px;
  }
}

@media only screen and (max-width: 1050px) {
  .newsletter-para {
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 900px) {
  .newsletter-para {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 620px) {
  .newsletter-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter-sign, .newsletter-text {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin-right: 0px;
  }
  .newsletter-text {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .newsletter-section {
    width: 70%;
  }
  .newsletter-sign form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter-sign input {
    margin-right: 0px;
    margin-bottom: 12px;
    background: #4f535c;
  }
  .newsletter-sign button {
    padding: 10px 30px;
  }
  .newsletter-text {
    font-size: 1em;
    font-weight: 500;
  }
}

@media only screen and (max-width: 350px) {
  .newsletter-sign button, .newsletter-sign input {
    width: 100%;
  }
  .newsletter-section {
    width: 60%;
  }
  .newsletter-text {
    font-size: 0.8em;
  }
}

.content {
  overflow: hidden;
}

.about-section {
  width: 100%;
}

.footer-section {
  background: #f1f4f8;
  margin: 0;
  padding: 20px 10px 30px;
  color: #616471;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: solid 1px #e1e5ee;
}

.footer-logo {
  max-width: 200px;
  margin-bottom: 5px;
}

.footer-logo img {
  width: 100%;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin: auto;
  text-align: center;
  padding: 0px 5px;
  font-size: 0.9em;
  line-height: 1.6em;
}

.footer-text a {
  font-weight: 400;
  color: #616471;
  text-decoration: none;
  margin: 10px;
}

.footer-text a.footer-aff {
  color: #ffb731;
  font-weight: 600;
}

.footer-text a.footer-aff:hover {
  color: #ffcb6b;
}

.footer-text a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1em;
  }
  .footer-text {
    font-size: 0.75em;
    line-height: 2em;
    margin: auto;
    padding: 10px 5px;
  }
}

.nav-bg {
  background: white;
  width: 100%;
  height: 82px;
  position: absolute;
  z-index: 1;
}

.nav {
  max-width: 1000px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 180px;
      grid-template-columns: auto 180px;
  background: white;
  z-index: 100;
}

.nav-btn {
  display: none;
  z-index: 2;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.nav-link a {
  text-decoration: none;
}

.nav-reg-link a {
  padding: 0px 20px;
  color: black;
  font-weight: 500;
}

.nav-reg-link a:hover {
  border-color: black;
}

.nav-logo {
  height: 80px;
  margin-right: 10px;
  z-index: 2;
}

.nav-logo a {
  padding: 0px;
  border: none;
}

.nav-links-mob {
  display: none;
}

.nav-left {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-watcha {
  margin: auto;
  display: inline-block;
  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;
  z-index: 2;
  font-family: "Ga Maamli", sans-serif;
}

.nav-watcha a {
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-watcha:hover {
  background: white;
}

.nav-watcha:hover a {
  color: black;
}

@media only screen and (max-width: 680px) {
  .nav {
    display: inline-block;
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-box-shadow: 0px 0px 15px #00000022;
            box-shadow: 0px 0px 15px #00000022;
  }
  .nav-logo {
    text-align: left;
    display: inline-block;
    z-index: 4;
    width: 100%;
  }
  .nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-btn i {
    color: black;
    font-size: 1.8em;
    cursor: pointer;
  }
  .nav-left {
    text-align: center;
    width: auto;
    display: inline-block;
    padding: none;
    width: 200px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mob {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    height: 0px;
    width: 100%;
    -webkit-transition: height 0.6s ease-in-out;
    transition: height 0.6s ease-in-out;
  }
  .nav-links-mob .nav-reg-link {
    padding: 16.5px;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .nav-links-mob .nav-reg-link:first-child {
    padding-top: 0px;
  }
  .nav-links-mob .nav-reg-link:nth-child(2), .nav-links-mob .nav-reg-link:nth-child(3) {
    margin-top: 26.5px;
  }
  .nav-links-mob .nav-reg-link:last-child {
    margin-top: 26.5px;
  }
  .nav-links-mob .nav-reg-link a {
    padding: 0px 20px;
    left: 0;
    right: 0;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background: #eee;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
  }
  .nav-links-mob .nav-reg-link a:hover {
    background: #ddd;
  }
  .nav-watcha {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .nav-btn i {
    -webkit-transition: none;
    transition: none;
  }
  .nav-btn i:hover {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=about.css.map */
