@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.35em;
  line-height: 1.5em;
  font-weight: 600;
  color: black;
}

p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.8em;
  color: #5d6370;
}

.content {
  padding: 0;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1em;
  }
}

body {
  font-family: "Ga Maamli", sans-serif;
}

h1, h2, h3 {
  font-family: "Ga Maamli", sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2.4em;
  font-weight: 800;
}

h3 {
  font-size: 1.8em;
  font-weight: 700;
}

p {
  font-size: 1.05em;
  line-height: 1.6em;
}

.demo {
  background: white;
  text-align: center;
  padding: 100px 0px;
  width: 100%;
}

.demo video {
  max-width: 700px;
  width: auto;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.demo-title {
  padding-bottom: 2em;
}

@media only screen and (max-width: 800px) {
  .demo video {
    width: 90%;
  }
}

.deal {
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  background: url(../images/save.svg) no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.deal-content {
  padding: 80px 30px;
}

.deal-code {
  font-size: 2em;
  font-weight: 900;
  margin: 20px 0px 40px;
}

.deal-btn {
  margin: 12px 0px;
}

.deal-btn a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  padding: 12px 14px;
  border-radius: 6px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background: #ffb731;
}

.deal-btn a:hover {
  background: #6783ff;
}

.help-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 60px;
}

.help-title {
  font-weight: 600;
  line-height: 1.4em;
  color: black;
  font-family: "Inter";
  max-width: 850px;
  margin: auto;
  text-align: center;
  padding: 15px;
}

.help-para {
  max-width: 650px;
  padding: 15px;
  font-size: 1.2em;
  line-height: 1.75em;
  text-align: left;
  color: #5d6370;
}

.help-para a {
  color: #5d6370;
  font-weight: 500;
}

.help-group {
  padding: 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-group a {
  margin: 5px;
}

.hero {
  width: 100%;
  padding: 0px 0px 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f1f4f8), to(white));
  background: linear-gradient(to top, #f1f4f8, white);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hero-inner {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 0;
}

.hero-text {
  max-width: 1100px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 40px 0px 0px;
}

.hero-title {
  font-weight: 600;
}

.hero-para {
  padding: 10px 15px 40px;
  font-size: 1.25em;
  color: #5d6370;
}

.hero-cta a {
  text-decoration: none;
  color: black;
  padding: 12px 20px;
  background: #ffcb6b;
  border-radius: 6px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  white-space: nowrap;
}

.hero-cta a:hover {
  background: #ffb731;
}

.hero-cta a:last-child {
  margin-left: 10px;
  color: white;
  background: #1e223d;
}

.hero-cta a:last-child:hover {
  background: #10111b;
}

.hero-image {
  width: 100%;
  height: 100px;
  /*background: url(../images/hero_xxl.png) bottom center no-repeat;*/
  background-size: 100%;
}

@media only screen and (max-width: 1300px) {
  .hero-image {
    /*background: url(../images/hero_xl.png) bottom center no-repeat;*/
  }
}

@media only screen and (max-width: 900px) {
  .hero-text {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-image {
    /*background: url(../images/hero_l.png) bottom center no-repeat;*/
  }
}

@media only screen and (max-width: 700px) {
  .hero-image {
    height: 100px;
    /*background: url(../images/hero_m.png) bottom center no-repeat;*/
  }
}

@media only screen and (max-width: 680px) {
  .hero-text {
    padding-top: 120px;
  }
}

@media only screen and (max-width: 550px) {
  .hero-image {
    height: 100px;
    /*background: url(../images/hero_s.png) bottom center no-repeat;*/
  }
}

@media only screen and (max-width: 450px) {
  .hero-image {
    height: 100px;
    /*background: url(../images/hero_xs.png) bottom center no-repeat;*/
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-cta a:last-child {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.newsletter-section {
  max-width: 600px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px 30px;
  margin: 40px auto 100px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  background: #232630;
  -webkit-box-shadow: 0px 16px 32px 0px #d5d2e6aa;
          box-shadow: 0px 16px 32px 0px #d5d2e6aa;
}

.newsletter-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.newsletter-text {
  text-align: left;
  width: 60%;
  margin-right: 20px;
}

.newsletter-text h3 {
  color: #e0e0e0;
  font-weight: 600;
  font-size: 1.4em;
}

.newsletter-sign form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter-sign input, .newsletter-sign button {
  padding: 10px 16px;
  font-family: "Inter";
  border-radius: 6px;
  border: none;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.newsletter-sign input {
  margin-right: 6px;
  background: #4f535c;
  color: white;
}

.newsletter-sign input::-webkit-input-placeholder {
  color: #aaa;
}

.newsletter-sign input:-ms-input-placeholder {
  color: #aaa;
}

.newsletter-sign input::-ms-input-placeholder {
  color: #aaa;
}

.newsletter-sign input::placeholder {
  color: #aaa;
}

.newsletter-sign input:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #ffffff62;
          box-shadow: 0px 0px 0px 2px #ffffff62;
  border-color: transparent;
}

.newsletter-sign button {
  background: #ffcb6b;
  color: black;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.newsletter-sign button:hover {
  background: #ffb731;
}

.newsletter-sign button:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #ffb73144;
          box-shadow: 0px 0px 0px 2px #ffb73144;
  border-color: transparent;
}

@media only screen and (max-width: 1140px) {
  .newsletter-section {
    width: 80%;
    margin: 40px auto 100px;
  }
}

@media only screen and (max-width: 1050px) {
  .newsletter-para {
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 900px) {
  .newsletter-para {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 620px) {
  .newsletter-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter-sign, .newsletter-text {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin-right: 0px;
  }
  .newsletter-text {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .newsletter-section {
    width: 70%;
  }
  .newsletter-sign form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter-sign input {
    margin-right: 0px;
    margin-bottom: 12px;
    background: #4f535c;
  }
  .newsletter-sign button {
    padding: 10px 30px;
  }
  .newsletter-text {
    font-size: 1em;
    font-weight: 500;
  }
}

@media only screen and (max-width: 350px) {
  .newsletter-sign button, .newsletter-sign input {
    width: 100%;
  }
  .newsletter-section {
    width: 60%;
  }
  .newsletter-text {
    font-size: 0.8em;
  }
}

.testimonial-section {
  padding: 60px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.testimonial-title {
  text-align: center;
  padding: 0px 0px 20px;
  z-index: 1;
}

.testimonial-title h1 {
  color: black;
}

.testimonial-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}

.testimonial-group {
  border-radius: 6px;
  max-width: 300px;
  width: 100%;
  background: #eef0f3;
  position: relative;
  margin: 20px;
  padding-bottom: 20px;
}

.testimonial-flex {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 25px 25px;
}

.testimonial-quote {
  position: relative;
  font-family: "Inter";
  height: 5.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-quote p {
  color: black;
  line-height: 1.4em;
  font-size: 1em;
  font-weight: 600;
}

.testimonial-name {
  font-size: 1em;
  font-weight: 600;
  color: black;
  line-height: 1.6em;
}

.testimonial-name a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8em;
}

.testimonial-name a:hover {
  text-decoration: underline;
}

.testimonial-img {
  position: absolute;
  -webkit-box-shadow: 0px 12px 24px -10px #d5d2e6;
          box-shadow: 0px 12px 24px -10px #d5d2e6;
  height: 65px;
  width: 65px;
  top: 37.5px;
  left: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: -72px 0px 30px;
}

@media only screen and (max-width: 900px) {
  .testimonial-group {
    font-size: 0.8em;
    margin: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .testimonial-flex {
    padding: 50px 15px 15px;
  }
}

@media only screen and (max-width: 700px) {
  .testimonial-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px;
  }
  .testimonial-group:nth-child(2) {
    margin: 70px 10px 70px;
  }
}

@media only screen and (max-width: 420px) {
  .testimonial-quote {
    height: auto;
    margin-bottom: 30px;
  }
}

.themes-section {
  padding: 40px 20px 60px;
  position: relative;
  max-width: 1100px;
  margin: auto;
}

.themes-title {
  padding: 20px 15px;
  text-align: left;
}

.themes-title h1 {
  color: black;
}

.themes-para {
  text-align: center;
  padding-bottom: 20px;
}

.themes-para h1 {
  color: black;
}

.themes-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.themes-grid a {
  text-decoration: none;
}

.themes-grid-item {
  width: auto;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 0px 12px 24px -10px #d5d2e6;
          box-shadow: 0px 12px 24px -10px #d5d2e6;
  text-align: left;
  margin: 15px;
  z-index: 10;
  border-bottom: solid 3px #eee;
}

.themes-item-img {
  overflow: hidden;
  position: relative;
}

.themes-item-img img {
  width: 100%;
  height: auto;
  margin-bottom: -4px;
}

.themes-item-img:hover .themes-hov {
  opacity: 1;
}

.themes-hov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000cc;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.themes-hov-item {
  text-align: center;
  line-height: 1em;
  font-size: 1em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 160px;
}

.themes-hov-item i {
  font-size: 1.6em;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.themes-hov-item i:hover {
  background: #bbb;
}

.themes-item-title {
  color: black;
  font-family: "Inter";
  padding: 20px 20px 0px;
}

.themes-item-para {
  font-size: 0.8em;
  color: #5d6370;
  line-height: 1.6em;
  text-align: left;
  padding: 10px 20px 20px;
  border-bottom: solid 1.5px #eeeeee;
}

.themes-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.themes-price {
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.themes-info {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: #ffb731;
}

.themes-cta {
  width: 100%;
  padding: 40px 0px 0px;
  text-align: center;
}

.themes-cta a {
  font-size: 1.2em;
  padding: 14px 30px;
  font-weight: 600;
  background: #ffcb6b;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

.themes-cta a:hover {
  background: #ffb731;
}

@media only screen and (max-width: 1000px) {
  .themes-item-title {
    font-size: 0.75em;
  }
  .themes-item-para {
    font-size: 0.75em;
  }
  .themes-price {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 900px) {
  .themes-title {
    text-align: center;
  }
  .themes-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
  }
}

@media only screen and (max-width: 700px) {
  .themes-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .themes-title {
    text-align: center;
  }
  .themes-grid-item {
    width: 400px;
    margin: 10px auto;
  }
  .themes-item-para {
    max-width: 500px;
    margin: auto;
  }
  .themes-hov-item {
    font-size: 0.8em;
    width: 120px;
  }
  .themes-hov-item i {
    font-size: 1.5em;
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 650px) {
  .themes-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: auto;
  }
}

@media only screen and (max-width: 450px) {
  .themes-grid-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .themes-price {
    margin-left: 0px;
    margin-top: 8px;
  }
  .themes-hov-item {
    font-size: 0.8em;
    width: 100px;
  }
  .themes-hov-item i {
    font-size: 1.4em;
    width: 45px;
    height: 45px;
  }
  .themes-grid-item {
    max-width: 400px;
    width: auto;
    margin: 10px 0px;
  }
}

.why-section {
  padding: 60px 0px;
}

.why-text {
  max-width: 700px;
  width: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0px 15px;
}

.why-title {
  padding-bottom: 10px;
  font-family: "Inter";
  text-align: center;
}

.why-title h2 {
  font-weight: 600;
  font-size: 2em;
  margin: 40px 0px;
}

.why-para {
  text-align: left;
}

.why-para p {
  line-height: 1.75em;
  color: #5d6370;
}

.why-cta {
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.why-cta a {
  border-bottom: solid #ffb731;
  color: #ffb731;
  text-decoration: none;
  padding: 14px 22px;
  font-weight: 600;
  font-size: 1em;
  white-space: nowrap;
}

.why-img {
  padding: 20px 0px 0px;
  max-width: 650px;
  width: 100%;
  margin: auto;
  position: relative;
}

.why-img img {
  width: 100%;
}

.why-deco1 {
  position: absolute;
  width: 240px;
  height: 180px;
  background: radial-gradient(#ffc4008a 15%, #ffffff00 15%);
  background-repeat: repeat;
  background-size: 20px 20px;
  z-index: -100;
  bottom: -20px;
  left: -38px;
}

.why-deco2 {
  position: absolute;
  width: 240px;
  height: 180px;
  background: radial-gradient(#003cff44 15%, #ffffff00 15%);
  background-repeat: repeat;
  background-size: 20px 20px;
  z-index: -100;
  top: 20px;
  right: -38px;
}

@media only screen and (max-width: 800px) {
  .why-title {
    font-size: 0.85em;
  }
  .why-para {
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .why-title {
    font-size: 0.8em;
  }
  .why-deco1, .why-deco2 {
    display: none;
  }
}

.main-content {
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .testimonial-title, .themes-title, .final-title, .bigdia-title, .help-title, .demo-title, .trial-title, .newsletter-title {
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 600px) {
  .testimonial-title, .themes-title, .final-title, .bigdia-title, .help-title, .demo-title, .trial-title, .newsletter-title {
    font-size: 0.8em;
  }
}

.footer-section {
  background: #f1f4f8;
  margin: 0;
  padding: 20px 10px 30px;
  color: #616471;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: solid 1px #e1e5ee;
}

.footer-logo {
  max-width: 200px;
  margin-bottom: 5px;
}

.footer-logo img {
  width: 100%;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin: auto;
  text-align: center;
  padding: 0px 5px;
  font-size: 0.9em;
  line-height: 1.6em;
}

.footer-text a {
  font-weight: 400;
  color: #616471;
  text-decoration: none;
  margin: 10px;
}

.footer-text a.footer-aff {
  color: #ffb731;
  font-weight: 600;
}

.footer-text a.footer-aff:hover {
  color: #ffcb6b;
}

.footer-text a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1em;
  }
  .footer-text {
    font-size: 0.75em;
    line-height: 2em;
    margin: auto;
    padding: 10px 5px;
  }
}

.nav-bg {
  background: white;
  width: 100%;
  height: 82px;
  position: absolute;
  z-index: 1;
}

.nav {
  max-width: 1000px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 180px;
      grid-template-columns: auto 180px;
  background: white;
  z-index: 100;
}

.nav-btn {
  display: none;
  z-index: 2;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.nav-link a {
  text-decoration: none;
}

.nav-reg-link a {
  padding: 0px 20px;
  color: black;
  font-weight: 500;
}

.ciao {
  font-size: 25px;
}

.nav-reg-link a:hover {
  border-color: black;
}

.nav-logo {
  height: 80px;
  margin-right: 10px;
  z-index: 2;
}

.nav-logo a {
  padding: 0px;
  border: none;
}

.nav-links-mob {
  display: none;
}

.nav-left {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-watcha {
  margin: auto;
  display: inline-block;
  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;
  z-index: 2;
  font-family: "Inter";
}

.nav-watcha a {
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-watcha:hover {
  background: white;
}

.nav-watcha:hover a {
  color: black;
}

@media only screen and (max-width: 680px) {
  .nav {
    display: inline-block;
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-box-shadow: 0px 0px 15px #00000022;
            box-shadow: 0px 0px 15px #00000022;
  }
  .nav-logo {
    text-align: left;
    display: inline-block;
    z-index: 4;
    width: 100%;
  }
  .nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-btn i {
    color: black;
    font-size: 1.8em;
    cursor: pointer;
  }
  .nav-left {
    text-align: center;
    width: auto;
    display: inline-block;
    padding: none;
    width: 200px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mob {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    height: 0px;
    width: 100%;
    -webkit-transition: height 0.6s ease-in-out;
    transition: height 0.6s ease-in-out;
  }
  .nav-links-mob .nav-reg-link {
    padding: 16.5px;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .nav-links-mob .nav-reg-link:first-child {
    padding-top: 0px;
  }
  .nav-links-mob .nav-reg-link:nth-child(2), .nav-links-mob .nav-reg-link:nth-child(3) {
    margin-top: 26.5px;
  }
  .nav-links-mob .nav-reg-link:last-child {
    margin-top: 26.5px;
  }
  .nav-links-mob .nav-reg-link a {
    padding: 0px 20px;
    left: 0;
    right: 0;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background: #eee;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
  }
  .nav-links-mob .nav-reg-link a:hover {
    background: #ddd;
  }
  .nav-watcha {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .nav-btn i {
    -webkit-transition: none;
    transition: none;
  }
  .nav-btn i:hover {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=home.css.map */